################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpExample/obj
/EspApiLib/espapi_dotnet/obj
/EspApiLib/.vs/espapi_dotnet/v16
/EspApiLib/espapi_dotnet/bin/Debug
/EspApiLib/TestResults
/EspApiLib/test_espapi_dotnet/bin/Debug
/EspApiLib/test_espapi_dotnet/obj/Debug
/EspApiLib/test_espapi_dotnet/obj/Release
/EspApiLib/Hornbill.ESPAPI/bin/Debug
/EspApiLib/Hornbill.ESPAPI/obj/Debug
/EspApiLib/packages/Newtonsoft.Json.12.0.2
/EspApiLib/Hornbill.ESPAPI/bin/Release
/EspApiLib/Hornbill.ESPAPI/obj/Release
/EspApiLib/test_espapi_dotnet/bin/Release
/EspApiLib/espapi_dotnet/bin/Release/espapi_dotnet.pdb
